/*
* main 부분
*/


.main-carousel-container{
    width: 800px;
    margin: auto; 
}



/*
* carousel 부분
*/
.main-top-carousel-text {
    position: absolute;
    top: 220px;
    left: 100px;    
}

.main-top-carousel-button {
    background-color: #111111;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.main-top-carousel-shareButton {
    background-color: #111111;
    width: 152px;
    height: 48px;
    border-radius: 20px;
}

.main-top-carousel-shareButton-icon {
    color: #FFFFFF;
    padding-left: 8px;
}

.show-pad {
    display: none;
}

.show-phone {
    display: none;
}


/*
* categorys 부분
*/
/* .categorys {
    width: 1140px; 
    margin: 74px auto 0 auto;
} */

.categorys-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.categorys-btn{
    border-color: #585858;
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 12px;
    padding: 5px 16px;
    min-width: 100px;
    height: 40px;
}

.categorys-btn:hover{
    background-color: #111111 !important;
    color: white !important;
}

/* .categorys-btn-dark:hover {
    background-color: #000;
}
 */



/*
*  additional-text  부분
*/
.additional-text  {
    display: flex; 
    justify-content: space-between;
    /* width: 1140px; */
    margin: 32px auto 0 auto;
}

.additional-text-rightLine img {
    width:15px;
    height: 13.33px;
    border: none; 
    margin-right: 15px;
}




/*
*  book-ImageAndText-List 부분
*/
.book-ImageAndText-List {
    /* border: 1px solid salmon;  */
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(188px, 1fr)); 
    gap: 48px; 
    max-width: 1140px; 
    margin: 32px auto;
}


/*
*  book-ImageAndText-one  부분
*/

.book-image {
    max-width:188px; 
    max-height: 266px;
}


.book-image img {
    width: 188px; 
    border-color: #E0E0E0;
}




@media screen and (max-width: 1023px) { 
    .carousel-item img {
        width: 600px;
        margin: auto; 
    }

    .main-top-carousel-text {
        text-align: center;
        top: 280px;
        left: 156px;        
    }
        
    .show-pad {
        display: block;
        width: 600px;
    }

    .show-web {
        display: none;
    }

}

@media screen and (max-width: 767px) { 
    .carousel-item img {
        width: 360px;
        margin: auto; 
    }

    .main-carousel-container {
        width: 360px;
        margin: auto; 
    }

    .main-top-carousel-text {
        text-align: center;
        top: 300px;
        left: 80px; 
  
    }

    .responsive-top-carousel-text {
        left: 100px;
    }
    
    
    .show-phone {
        display: block;
        width: 360px;
    }

    .show-pad {
        display: none;
    }

    .show-web {
        display: none;
    }
  
    .hidden-phone {
        display: none;
    }
}