.category{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.category-Button button{
    border: 1px solid #000;
    border-radius: 30px;
    margin-right: 10px;
    padding: 0 15px;
}

.category-Button-black{
    background-color: #000;
    color: white;
}

.category-Button-white{
    background-color: white;
    color: #000;
}