.main-container{
    width: 1140px;
    margin: auto; 
}

.main-top-carousel{
    width: 800px;
    margin: auto;
}

.btn{
    border-color: black;
    border-radius: 30px;
    margin-right: 10px;
}

.button-info {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.btn-dark:hover {
    background-color: #000;
}

.btn-light:hover {
    background-color: white;
    border-color: #000;
}

body {
    height: 2200px;
}

.main-top-carousel-text {
    position: absolute;
    top: 220px;
    left: 250px;    
}

.main-top-carousel-button {
    background-color: #111111;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.main-top-carousel-shareButton {
    background-color: #111111;
    width: 152px;
    height: 48px;
    border-radius: 20px;
    margin-top: 60px;
}

.main-top-carousel-shareButton-icon{
    color: #FFFFFF;
    padding-left: 8px;
}

.hidden-pad {
    display: none;
}

.hidden-phone {
    display: none;
}

@media screen and (max-width:1023px) { 
    .hidden-pad {
        display: block;
    }

    .hidden-web {
        display: none;
    }

}

@media screen and (max-width:767px) { 
    .hidden-phone {
        display: block;
    }

    .hidden-pad {
        display: none;
    }

    .hidden-web {
        display: none;
    }

}