@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');


body{
    color: #8B0000;
    padding: 0 5px 0;
    font-size: 18px;
}
.navbar{
    border-bottom: 1px solid #e0e0e0;
    background-color: white;
}
.nav-item{
    margin-left: 5em;
    font-weight: bold;
}

.navbar-brand{
    margin-left: 60px;
    font-weight: 700;
    font-size: 24px;
}
.btn-outline-success{
 margin-left: 1em;
}
.input-search{
    border-radius: 10px;
}
.fa-solid{
    color: black;
    margin-right: 2em;
}
footer{
    position: absolute;
    bottom: 0 ;  
    width:100%;
    background-color: white;
    color: black;
    padding: 50px 150px;
    border-top: 1px solid #e0e0e0;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.footer-top-leftBox-brand{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}
.footer-top-rightBox{
    display: flex;
}
.footer-top-rightBox-aBox{
    margin-left: 15px;
}
.footer-bottom-words{
    margin-bottom: 5px;
}