.main-top-inputArea input {
  width: 600px;
  height: 60px;
  border-radius: 100px;
  padding-left: 30px;
  padding-right: 70px;
}

.searching-icon {
  position: relative;
  right: 60px;
  cursor: pointer;
}

.main-mid-inputInfo {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

.main-mid-bookList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(188px, 1fr));
  gap: 48px;
  margin: 32px auto;
}

.main-bottom-pagination {
  display: flex;
  justify-content: center;
}

.main-bottom-pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main-bottom-pagination-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  color: #111111;
}

.main-bottom-pagination-link.active .main-bottom-pagination-num {
  background-color: #8b0000;
  color: #ffffff;
}

.main-bottom-pagination-num {
  background-color: #f6e7e0;
  width: 42px;
  height: 42px;
  border-radius: 10px;
}

.main-bottom-pagination-num:hover {
  background-color: #8b0000;
  color: #ffffff;
}

/*
* animation
*/
@keyframes scale-up-center {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.book-ImageAndText-one:hover {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media screen and (max-width: 1023px) {
  .main-bottom-pagination-num {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .main-bottom-pagination-link a {
    margin-left: 6px;
    margin-right: 6px;
  }

  .main-top-inputArea input {
    width: 420px;
  }
}

@media (max-width: 767px) {
  .main-top-inputArea input {
    width: 260px;
  }

  .main-top-inputArea {
    display: flex;
    justify-content: center;
  }

  .main-top-inputArea input {
    font-size: 16px;
  }

  .searching-icon {
    position: relative;
    right: 50px;
    top: 20px;
  }

  .main-top-title {
    text-align: center;
    font-size: 32px;
  }

  .totalBooks-message {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .hidden-phone {
    display: none;
  }
}
