.main-top-inputArea input {
  width: 600px;
  height: 60px;
  border-radius: 100px;
  padding-left: 30px;
  padding-right: 70px;
}

.fa-magnifying-glass {
  position: relative;
  right: 60px;
  cursor: pointer;
}

.main-mid-inputInfo {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

.main-mid-bookList {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(188px, 1fr)); 
  gap: 48px; 
  max-width: 1140px; 
  margin: 32px auto;
}

.main-bottom-pagination {
  display: flex;
  justify-content: center;
}

.main-bottom-pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main-bottom-pagination-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  color: #111111;
}

.main-bottom-pagination-link.active .main-bottom-pagination-num {
  background-color: #8B0000;
  color: #FFFFFF;
}

.main-bottom-pagination-num {
  background-color: #F6E7E0;
  width: 42px;
  height: 42px;
  border-radius: 10px;
}

.main-bottom-pagination-num:hover {
  background-color: #8B0000;
  color: #FFFFFF;
}

img {
  width: 180px;
  height: 266px;
}


/*
* animation
*/
@keyframes scale-up-center {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.book-ImageAndText-one:hover {
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}







@media(max-width : 1023px) {
  
}

@media screen and (max-width: 767px) {
  .main-bottom-pagination-num {
      width: 32px;
      height: 32px;
      border-radius: 10px;
      margin-left: 4px;
      margin-right: 4px;
  }

  .main-bottom-pagination-link a {
    margin-left: 6px;
    margin-right: 6px;
  }

  /* .main-container{ */
    /* display: flex; */
    /* justify-content: space-around; */
  /* } */
  
  .main-top-inputArea input {
    width: 550px;
  }
}

@media (max-width:480px){
  .main-top-inputArea input {
    width: 250px;
    font-size: 10px;
  }
}

@media (max-width:300px){

  

  .main-top-inputArea input {
    width: 150px;
    font-size: 8px;
  }
}