/*
* book-detail 부분
*/
.book-detail {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}

.book-detail aside {
  /* border: 3px solid red; */
  /* width: calc(50% - 200px); */
  min-width: 330px;
  margin: 0 auto;
}

.book-detail section {
  margin: auto auto auto 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 3px solid red; */
}

.detail-button-rent {
  background-color: #111111;
  border-radius: 30px;
}

/*
* book-author 부분
*/
.book-author {
  /* border: 5px solid greenyellow;  */
  margin: 130px auto;
}

/*
* book-author-content 부분
*/
.book-author-title {
  display: flex;
  justify-content: space-between;
}

/* .book-author-content {
  margin: 0 200px;
} */

.book-author-content-image-and-text-List {
  display: grid;
  grid-template-columns: repeat(6, minmax(200px, 290px));
  gap: 60px;
}

/*
*  see-more  부분
*/
.see-more {
  display: flex;
  justify-content: end;
  margin-top: 12px;
}

.see-more img {
  width: 6.6px;
  height: 13.8px;
  border: none;
}

/*
* animation
*/
@keyframes scale-up-center {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#detailBookImage:hover {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.book-author-content-image-and-text:hover {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@media (max-width: 1920px) {
  .book-author-content-image-and-text-List {
    grid-template-columns: repeat(5, minmax(240px, 1fr));
    gap: 50px;
  }

  .book-author-content-image-and-text:nth-child(6) {
    display: none;
  }
}
@media (max-width: 1740px) {
  .book-author-content-image-and-text-List {
    grid-template-columns: repeat(4, minmax(120px, 1fr));
    gap: 40px;
  }

  .book-author-content-image-and-text:nth-child(5) {
    display: none;
  }
}
@media (max-width: 1024px) {
  .book-detail {
    flex-direction: column;
    margin: 60px 0;
  }

  .book-detail aside {
    margin: auto;
    min-width: 250px;
  }

  .book-detail section {
    text-align: center;
    width: 100%;
    margin: 40px 0 0 0;
  }
}
@media (max-width: 768px) {
  .book-detail {
    margin: 40px 0;
  }

  .book-author-content-image-and-text-List {
    grid-template-columns: repeat(3, minmax(114px, 1fr));
    gap: 30px;
  }
  .book-author-content-image-and-text:nth-child(4) {
    display: none;
  }
}
@media (max-width: 595px) {
  .book-author-content-image-and-text-List {
    grid-template-columns: repeat(2, minmax(114px, 1fr));
    gap: 30px;
  }

  .book-author-content-image-and-text:nth-child(3) {
    display: none;
  }
}

@media (max-width: 426px) {
  .book-author {
    margin: 80px 0;
  }

  .book-author-title {
    text-align: center;
    display: block;
  }

  .see-more {
    justify-content: center;
    margin-top: 32px;
  }

  .book-author-content-image-and-text-List {
    grid-template-columns: 1fr;
    margin: auto 40px;
    text-align: center;
  }

  .book-author-content-image-and-text:nth-child(2) {
    display: none;
  }
}
