/*
* book-detail 부분
*/
.book-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 200px;
}

.book-detail aside img {
  /* border: 3px solid red; */
  max-width: 356px;
  max-height: 520px;
}

.book-detail section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 3px solid red; */
}

.detail-button-rent {
  background-color: #111111;
  border-radius: 30px;
}

/*
* book-author 부분
*/
.book-author {
  /* border: 5px solid greenyellow;  */
  margin: 130px auto 0 auto;
}

/*
* book-author-content 부분
*/
.book-author-content {
  /* border: 3px solid blue;  */
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-author-content-left-arrow {
  width: 50px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-author-content-left-arrow img {
  width: 11px;
  height: 23px;
  border: none;
}

.book-author-content-image-and-text-List {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(188px, 1fr));
  gap: 32px;
}

.book-author-content-right-arrow {
  width: 50px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
* animation
*/
@keyframes scale-up-center {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#detailBookImage:hover {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.book-author-content-image-and-text:hover {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media (max-width: 1024px) {
  .book-detail {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .book-detail aside {
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
    /* padding: 20px; */
  }

  .book-detail section {
    text-align: center;
  }

  .book-author {
    margin: 40px 0;
  }
}

@media (max-width: 767px) {
  .book-detail {
    /* width: 1040px; */
    margin: 0 auto;
  }
}
