footer{
    position: absolute;
    bottom: 0;  
    width:100%;
    padding: 100px 150px;
    background-color: white;
    border-top: 1px solid #e0e0e0;
  }
  .footer-top{
    display: flex;
    justify-content: space-between;
  }
  .footer-top-leftBox-brand{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
  }
  .footer-top-leftBox-info span{
    margin-right: 10px;
  }
  .footer-top-rightBox{
    display: flex;
  }
  .footer-top-rightBox-aBox{
    margin-left: 20px;
    font-size: 25px;
  }
  .footer-bottom{
    margin-top: 20px;
    color: #999;
    font-size: small;
  }

  @media (max-width : 1023px) {
      .footer-top{
        display: flex;
        justify-content: center;
      }

      .footer-top-rightBox{
        display: none;
      }
      .footer-top-leftBox-brand{
        display: flex;
        justify-content: center;
      }
      
      .footer-bottom{
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      .footer-bottom-words{
        display: flex;
        justify-content: center;
        
      }
      
  }

  @media (max-width:767px){
    footer{
      padding: 100px 50px;
    }
      
  }